:root {
  --back:#ffffff;
  --font: #484d48;
  --invertfont: white;
  --a: #0d9fc4;
  --header: #073d69;
  --navbar : #052742;
  --banner: #1a1919;
  }

 .body, .card {
        background-color: var(--back);
        color : var(--font);
      }
      
.navbar {
  color : var(--back);
  background-color: var(--navbar);
  .nav-link{
    color : var(--back);
  }
}

a, button, .nav-link {
  color: var(--a); 
}

h1, h2, h3, h4, h5, h6 {
  color: var(--header); 
}

a:hover {
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* white-space: nowrap; */
  line-height: 10px;
  color:var(--invertfont);
  text-align: center;
  background-color: var(--navbar);
}


/* .sidenav{
  position: sticky;
  padding: 10px;
  top: 0px;
  background-color: var(--banner);
}

.sidenav a{
  color: var(--invertfont); 
  text-decoration: none;
  transition: 0.3s;
  padding: 0px 10px;
}

.sidenav a:hover{
  color: var(--invertfont);
  background-color: var(--a); 
}

.tablinks{
  position: sticky;
  padding: 10px;
  top: 0px;
  color: var(--a);
  text-decoration: none;
}

.tab a {
  color: var(--a); 
  text-decoration: none;
  transition: 0.3s;
  padding: 0px 10px;
}

.tab a:hover{
  background-color: var(--a);
  color: var(--invertfont); 
  transition: 0.3s;
  padding: 0px 10px;
}

/* Contact ------------------------
#map {
  width:100%;
  height: auto;
  margin-right: 2%;
}

  /* Style inputs 
  input[type=text], select, textarea {
    width: 100%;
    padding: 7px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: var(--font);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: var(--a);
  }

  /* Style the bottom navigation bar
#bottomnav {
  overflow: hidden;
  background-color: var(--back);
  color: var(--a);
}

/* Style the nav links 
.bottomnav a {
  float: left;
  display: block;
  color:var(--a);
  text-decoration: none;
  padding: 10px;
}

.bottomnav a:hover {
  color: var(--invertfont);
  background-color: var(--a)
}

.bottomnav img {
  width: 20px; 
  height: 20px; 
  float:left;
}

footer {
  bottom: 0;
  position: fixed;
} */
